.fundoCadastro {
    background-image: url("https://previews.123rf.com/images/keronn/keronn2211/keronn221100113/194836504-entrega-de-servi%C3%A7o-de-farm%C3%A1cia-m%C3%A3o-humana-segurando-saco-de-papel-com-drogas-e-p%C3%ADlulas-conceito-de.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }